.classpath
.metadata/
.project
*.db
*.txt
bin/
*.jar
.settings/
doc/
*.ucls
*.*.swp

*.properties

.idea
.gradle
build
out
*.iml
*.class

src/main/java/jade
JADE-src-4.3.3.zip
MTPs-Main-Container.txt
run.bat
README
demo
jade
src/main/java/examples
src/main/java/demo